.PlayListCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  height: 150px;
  margin: 20px;
  color: white;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.5);
  position: relative; /* 设为相对定位，以便绝对定位子元素相对于它定位 */

  /*动画*/
  transition: transform 0.3s ease,
  box-shadow 0.3s ease; /* 添加过渡效果 */
}

.PlayListCard:hover {
  /*动画*/
  transform: translateY(-10px) scale(1.02); /* 鼠标悬停时向上移动并放大 */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* 鼠标悬停时增加阴影效果 */
}

.PlayListCard-info {
  width: calc(100%);
  border-radius: 0 0 15px 15px;
  /*background-color: blue;*/
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding-bottom: 5px;
  padding-left: 6px;
  background-color: rgba(0, 0, 0, 0.09);
  backdrop-filter: blur(4px);
}

.PlayListCard-title {
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap; /* 防止文本换行 */
  overflow: hidden; /* 隐藏溢出部分 */

  /*防止文字看不清楚*/
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* 添加阴影 */
}

.PlayListCard-artist {
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.68);

  /*防止文字过长*/
  text-overflow: ellipsis;
  white-space: nowrap; /* 防止文本换行 */
  overflow: hidden; /* 隐藏溢出部分 */

  /*防止文字看不清楚*/
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* 添加阴影 */
}

.PlayListCard-play {
  position: absolute; /* 使用绝对定位 */
  bottom: 10px; /* 距离底部 10px */
  right: 10px; /* 距离右侧 10px */
}

.PlayListCard-play > Button {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(3px);

  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
