.Page-Online {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
}

.page-online-header {
  display: flex;
}


.Banner-pic {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
  border-radius: 25px;
}

.Banner-Carousel {
  width: 400px;
  margin-top: 20px;
  border-radius: 25px;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.5);

}
