.Page-Online {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
}

.page-online-header {
  display: flex;
  margin-left: 0px;
  margin-right: 15px;
  margin-bottom: 0;
  padding: 0;
  justify-content: left;
}

.play-list-container {
  margin: -10px 5px 0 0px;
}

.play-list-recommend {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
